#navbar__container {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    font-size: 1.3rem;
}

#navbar__container a {
    text-decoration: none;
    color: white;
}

