#navbar__container {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
}

#navbar__container ul {
    margin: 0;
}

#navbar__container a {
    color: white;
}
